body {
	background-color: #fff;
	margin: 0;
	padding: 0;
}

p {
	font-size: 18px;
	line-height: 1.5;
	color: #111111;
	font-family: Georgia, serif;
	font-weight: 300;
}

p.lede {
	font-size: 22px;
	line-height: 1.5;
	color: #111111;
	font-family: Georgia, serif;
	font-weight: 600;
	margin-top: 70px;
}

.container {
	margin: 0;
	padding: 0;
	font: inherit;
}

.story {
	height: 100vh;
	padding: 0;
	width: 100%;
	max-width: 1920px;
	position: relative;
	margin: 0 auto;
}

#header {
	height: 600px;
	background: url("../header.jpg") 0 no-repeat fixed;
	margin: 0;
	padding: 0;
	z-index: 0;
}

#header h1 {
	font-size: 90px;
	text-align: center;
	margin: 0 auto;
	padding: 35vh 16px 0 16px; /* 20% from the top of the page, 16px at the sides */
	text-shadow: 0 0 .25em #000;
	color: #ffffff; /* for testing */
	font-family: "Stag", Georgia, serif;
	text-transform: uppercase;
	font-weight: 500;
	max-width: 1000px;
}

#header h2 {
	font-size: 40px;
	text-align: center;
	line-height: 1.2;
	margin: 0 auto;
	padding: 0 16px 0 16px;
	text-shadow: 0 0 .25em #000;
	color: #ffffff; /* for testing */
	font-family: "Stag", Georgia, serif;
	font-weight: 500;
	max-width: 1000px;
}

.by {
	display: block;
	position: relative;
	max-width: 400px;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 5px;
	background-color: #fff;
}

.by p {
	line-height: 1;
	font-family: Georgia, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	z-index: 61;
}

#toc {
	z-index: 1;
	float: right;
	right: 0;
	background-color: #eefcff;
	width: 100%;
	margin: 0;
}

#toc p {
	font-size: 16px;
	margin: 0;
	padding: 10px;
	font-family: "Stag", Georgia, serif;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
}

#toc a {
	text-decoration: none !important;
	color: #222;
}

#toc a:hover {
	text-decoration: underline;
	color: #00f;
}

#toc .divider {
	padding: 0 10px;
}

#toc #s0l {
	font-weight: 600;
}
	
.articletext {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 16px 0 16px;
	text-align: justify;
}

h2 {
	font-size: 40px;
	font-family: "Stag", Georgia, serif;
	font-weight: 500;
}

#bigimage1 {
	background: url("../bigpic.jpg") 50% 0 no-repeat fixed;
	z-index: -1;
	height: 400px;
}

.smallimageleft {
	width: 51%;
	max-width: 380px;
	float: left;
	margin: 0 20px 20px 0;
	z-index: -1;
}

.smallimageleft img {
	width: 100%;
	vertical-align: baseline;
	z-index: -1;
}

.smallimageright {
	width: 51%;
	max-width: 380px;
	float: right;
	margin: 0 0 20px 20px;
	z-index: -1;
}

.smallimageright img {
	width: 100%;
	vertical-align: baseline;
	z-index: -1;
}

.caption {
	width: 100%;
	vertical-align: baseline;
}

.caption p {
	font-size: 16px;
	font-family: Georgia, serif;
	text-decoration: italic;
}